<app-navbar></app-navbar>
<div class="container">
    <div class="card">
        <table>
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Employee ID</th>
                <th>Mobile</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees">
                <td>{{ employee.fname }}</td>
                <td>{{ employee.lname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.eid }}</td>
                <td>{{ employee.mobile }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>