.logo {
    width: 100px;
}

.nav-link {
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 25px !important;
    text-transform: uppercase !important;
}

.btn {
    background-color: #A72037 !important;
    color: #FFFFFF !important;
    padding: 10px;
    width: 150px;

}

.btn:hover {
    background-color: #991125 !important;
    color: #FFFFFF !important;
}

.nav-left {
    margin-left: auto !important;
}