<div class="container">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"><img class="logo" src="assets/images/Levi's_logo.svg.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto nav-left mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/employee-registration">Employee Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/employee-list">Employee List</a>
                    </li>
                </ul>
                <a routerLink="/login"><button class="btn" type="submit">LOGOUT</button></a>
            </div>
        </div>
    </nav>
</div>